header
	.header
		.container
			.wrap-header
				.toggle-menu
					em.material-icons menu
					span menu
				.logo
					a.img(href="")
						img(src="./img/logo.png", alt="")  
				.wrap-right
					.language
						a(href="") en 
						em.material-icons arrow_drop_down
						.language-dropdown
							a.language__item vn
					.search 
						em.material-icons search
	.wrap-menu
		.btn-close 
			em.material-icons close
		ul.primary-menu 
			li.dropdown
				.title
					em.material-icons arrow_forward
					a(href="") who are you
				.sub-menu
					.title
						a(href="#") Sustainability statement
					.title
						a(href="#") Our Focus
					.title
						a(href="#") Stakeholders Engagement
					.title
						a(href="#") Anual Report
			li.dropdown
				.title 
					em.material-icons arrow_forward
					a(href="") join ching luh
				.sub-menu
					.title
						a(href="#") Sustainability statement
					.title
						a(href="#") Our Focus
					.title
						a(href="#") Stakeholders Engagement
					.title
						a(href="#") Anual Report
			li
				.title 
					a(href="") why ching luh
			li
				.title 
					a(href="") sustainability
			li
				.title 
					a(href="") news & events
	.wrap-search
		.searchbox
			input(placeholder="Tìm Kiếm")
			button.btn-search
				em.material-icons search
