section.section.news-pages 
	.container 
		.section-title News & Events
		ul.primary-nav
			li.active
				a(href="") News & Events 
			li
				a(href="") Chairman's message
			li
				a(href="") Contact us
		.row 
			-for(i=1;i<7;i++)
				.col-lg-4.col-md-6.col-12
					.wrap-news 
						.newsitem 
							.date 
								em.material-icons date_range
								time March, 15, 2021
							.title.text-uppercase OUR COMMUNITY “LIFT AS WE RISE”
							.briefcontent 
								p Dear Colleagues: Happy New Year! Time flies. As the New Year 2018 begins, let us also start anew. When the New Year comes, everyone joyfully welcomes the New Year, and congratulates to each other in the New Year moments, I, on behalf of the Management Board, like to send the New Year greetings to all of you and thanks for your hard work over the past year.
							a(href="").link-viewmore 
								em.lnr.lnr-arrow-right-circle
								span View more
						.newsimage 
							a(href="").img.zoom-img
								img(data-src="./img/news/"+i+".png" alt="" class="lazyload")
		.modulepager
			ul.pagination 
				li.active
					a(href="") 1
				li
					a(href="") 2
				li
					a(href="") 3